<link rel="stylesheet" href="/css/navbar.css">
<header>
    <div class="logo">Foodies</div>
    <input type="checkbox" name="check" id="check">
    <nav class="navbar">
        <label for="check" id="closeMenu"> <i class="fa fa-times"></i> </label>
        <a href="#" class="link">MyOrders</a>
        <a href="#"> <i class="fa fa-cart-shopping"></i> </a>
    </nav>
    <label for="check" id="openMenu"> <i class="fa fa-bars"></i> </label>
</header>