<link rel="stylesheet" href="/css/navbar.css">
<header>
    <div class="logo">Foodies <font class="mx-3" size="4px">(Admin Panel)</font> </div>
    <input type="checkbox" name="check" id="check">
    <nav class="navbar">
        <label for="check" id="closeMenu"> <i class="fa fa-times"></i> </label>
        <a href="/admin/dashboard" class="link">Home</a>
        <a href="/admin/new" class="link">Add New</a>
        <a href="#"> <i class="fa-solid fa-right-from-bracket"></i> </a>
    </nav>
    <label for="check" id="openMenu"> <i class="fa fa-bars"></i> </label>
</header>